<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EnvironmentVariables</key>
	<dict>
		<key>DF_LLM_SENSITIV</key>
		<string>true</string>
		<key>DF_LLM_SENSITIV_MODE</key>
		<string>local</string>
		<key>HOME</key>
		<string>/Users/make</string>
		<key>PATH</key>
		<string>/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin</string>
	</dict>
	<key>KeepAlive</key>
	<false/>
	<key>Label</key>
	<string>com.kemmer.df-cape-coral-phase-monitor</string>
	<key>ProgramArguments</key>
	<array>
		<string>/bin/bash</string>
		<string>/Users/make/Projects/dark-factories/df-cape-coral-phase-monitor/scripts/run-df-cape-coral-phase-monitor.sh</string>
	</array>
	<key>RunAtLoad</key>
	<false/>
	<key>StandardErrorPath</key>
	<string>/Users/make/Library/Logs/kemmer/df-cape-coral-phase-monitor.err.log</string>
	<key>StandardOutPath</key>
	<string>/Users/make/Library/Logs/kemmer/df-cape-coral-phase-monitor.out.log</string>
	<key>StartCalendarInterval</key>
	<array>
		<dict>
			<key>Hour</key>
			<integer>9</integer>
			<key>Minute</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Hour</key>
			<integer>21</integer>
			<key>Minute</key>
			<integer>0</integer>
		</dict>
	</array>
</dict>
</plist>
